a {
    text-decoration: none;
  }

a:visited{
    color: black;
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    
}


.HeaderNavListItem {
    margin-right: 45px;
}

.HeaderNavListItem__link>span:first-child {
    font-family: system-ui;
}

.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}

.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 0 20px;
}

.HeaderNavListItem__button:visited {
    color: #fff;
}

section {
    display: block;
}

.FirstView {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

.FirstView__main-image {
    width: 100%;
}

.FirstView__main-image--sp {
    display: none;
}

ul, ol {
    list-style: none;
}

ul {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
body {
    -webkit-font-smoothing: antialiased;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, 
select{
    margin: 0;
    padding: 0;
}

body {
    --wp--preset--color--black: #000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #fff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,#9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,#7adcb4 0%,#00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,#cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,#eee 0%,#a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,#4aeadc 0%,#9778d1 20%,#cf2aba 40%,#ee2c82 60%,#fb6962 80%,#fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,#ffceec 0%,#9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,#fecda5 0%,#fe2d2d 50%,#6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,#ffcb70 0%,#c751c0 50%,#4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,#fff5cb 0%,#b6e3d4 50%,#33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,#caf880 0%,#71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,#020381 0%,#2874fc 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: .44rem;
    --wp--preset--spacing--30: .67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0,0,0,.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0,0,0,.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0,0,0,.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255,255,255,1),6px 6px rgba(0,0,0,1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0,0,0,1);
}

*:before, *:after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

*:before, *:after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Header {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
}
.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    /* padding: 0; */
}

.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}

.FirstViewCaption {
    color: #a2a2a4;
    font-size: 12px;
}

.FirstViewContent__title {
    color: #333;
    font-family: system-ui;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

.FirstViewContent__images {
    display: flex;
    margin-bottom: 25px;
}

.FirstViewContent__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
    height: 64px;
}

.FirstViewContent__button:visited {
    color: #fff;
}

.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
     display: flex;
    justify-content: space-between;
}

.AboutWrapper {
    background-color: #f79214;
    padding: 44px 0;
}

.About__video {
    margin-bottom: 5px;
    width: 50%;
}

.About__title {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0;
    margin-left: 32px;
    
}

.About__title br {
    display: none;
}

.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
    color: #fff;
    text-align: left;
}

.About__title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    margin-bottom: 8px;
    width: 100%;
    color: #fff;
    text-align: left;
}

.About__reskilling-logo {
    margin: auto;
}

.About__reskilling-logo>img {
    width: 158px;
}

@media screen and (max-width: 767px){
    .HeaderNavList {
        verflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    z-index: 99;
    background-color: 
}

    .HeaderContainer {
        max-width: 100%;
        margin: 0 20px;
    }

    .HeaderNavHamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        z-index: 100;
    }

    .HeaderNavHamburger__line:first-child {
        top: 0;
    }
    .HeaderNavHamburger__line {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transform: translate(0,-50%);
        border-radius: 10px;
        transition: top .2s,transform .2s,opacity .3s;
    }

    .HeaderNavHamburger__line:last-child {
        top: 100%;
    }

    .FirstView__main-image--sp {
        display: block;
    }
    main {
        padding-top: 52px;
    }

    .FirstView {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }

    .FirstView__container {
        margin-top: -45vw;
    }

    .FirstViewContent__title {
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw - 100%)/2)*-1);
        margin-right: calc(((100vw - 100%)/2)*-1);
    }

    .FirstViewContent__images img {
        width: 27.5%;
    }

    .FirstViewContent__images img:nth-of-type(2) {
        width: 40%;
    }

    .About {
        flex-direction: column;
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .About__video {
        width: 100%;
        margin-bottom: 16px;
}

.About__title {
    margin-bottom: 0;
    width: 100%;
    margin-left: 0;
}

.About__reskilling-logo {
    margin: auto;
}
}

